body{
margin:0;
font-family:Arial;
}

header{
background:#004d40;
color:white;
padding:15px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
background:#009688;
color:white;
padding:60px;
text-align:center;
}

.btn{
background:white;
padding:10px 20px;
text-decoration:none;
}

section{
padding:30px;
}

.cards{
display:flex;
justify-content:space-around;
background:#eee;
padding:20px;
}

.cards div{
background:white;
padding:20px;
width:20%;
text-align:center;
}

footer{
background:#004d40;
color:white;
text-align:center;
padding:15px;
}
